
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Ticari Otomasyon - @ViewBag.Title</title>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-info px-5">
        <a class="navbar-brand" href="#">Ticari Otomasyon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @*<div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>*@
    </nav>
    <div class="container bg-light">

        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        Admin Sayfası
                    </a>
                    <a href="/Kategori/Index" class="list-group-item list-group-item-action bg-info">Kategoriler</a>
                    <a href="/Urun/Index" class="list-group-item list-group-item-action bg-info">Ürünler</a>
                    <a href="#" class="list-group-item list-group-item-action bg-info">Departmanlar</a>
                    <a href="#" class="list-group-item list-group-item-action bg-info">Personeller</a>
                    <a href="#" class="list-group-item list-group-item-action bg-info">Admin</a>
                    <a href="#" class="list-group-item list-group-item-action bg-info">Rapor & Faturalar</a>
                    <a href="#" class="list-group-item list-group-item-action bg-info">Fatura Kalemler</a>
                    <a href="#" class="list-group-item list-group-item-action bg-info">Giderler</a>
                    <a href="#" class="list-group-item list-group-item-action bg-info">Hareketler</a>
                    <a href="#" class="list-group-item list-group-item-action bg-info">İstatistikler</a>

                </div>
            </div>
            <div class="col-md-9 pt-2">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>

    </script>
</body>
</html>
